<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {{#bs-form formLayout=formLayout model=this onSubmit=(action "authenticate") as |form|}}
      {{form.element controlType="textbox" label="Username" placeholder="Enter character name" property="username" required=true}}
      {{form.element controlType="password" label="Password" placeholder="Enter birth date" property="password" required=true}}
      {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    {{/bs-form}}
  </div>
</div>





